.container {
    display: flex;
    width: 90vw;
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px 80px;
    z-index: 99;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 15px 10px -15px gray;
  }
  
  .logo {
    color: "#048a52";
    margin: 0;
    cursor: pointer;
  }
  
  .subContainer {
    display: flex;
    gap: 24px;
  }
  .subContainer p {
    margin: 0;
    cursor: pointer;
    font-weight: 600;
  }
  .subContainer p:hover {
    color: var(--primary);
  }

